<form action="/admin/create-post" method="POST" class="p-10 flex flex-col items-center">
    <div class="w-full max-w-2xl">
        <label for="postTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Post title</label>
        <input required type="text" id="post-title" name="postTitle" placeholder="Your post title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
    </div>
    <div class="mt-9 w-full max-w-2xl">
        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose a category</label>
        <select required id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
            <option selected value="cinema">Cinema</option>
            <option value="tvShow">TV Shows</option>
        </select>
    </div>
    <div class="mt-9 w-full max-w-2xl">
        <label for="postContent" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Post text</label>
        <textarea required id="postContent" name="postContent" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-emerald-500 focus:border-emerald-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" placeholder="What do you want to say in this post ?"></textarea>
    </div>
    <div class="container mx-0 min-w-full flex flex-col items-center mt-10">
        <button type="submit" class="w-1/3 min-w-[200px] bg-emerald-700 text-white hover:bg-emerald-900 font-bold py-2 px-4 mt-3 rounded">Submit post</button>
    </div>
</form>