<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>
        <title>Cinema Blog | Create Post</title>
    </head>
    <header>
        <%- include('../../partials/header'); %>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/quilljs-markdown@latest/dist/quilljs-markdown.js"></script>
    </header>
    <body>
        <main class="flex justify-center">
            <div class="w-5/6 flex flex-col text-center">
                <h3 class="text-3xl font-bold dark:text-white mt-10">Create post</h3>
                <form id="create-post-form" action="/admin/create-post" method="POST" class="p-10 flex flex-col items-center">
                    <div class="w-full max-w-2xl">
                        <label for="postTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Post title</label>
                        <input required type="text" id="post-title" name="postTitle" placeholder="Your post title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                    </div>
                    <div class="mt-9 w-full max-w-2xl">
                        <label for="postTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Banner</label>
                        <input required type="text" id="post-banner" name="banner" placeholder="https://___/___.jpg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                    </div>
                    <div class="mt-9 w-full max-w-2xl">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose a category</label>
                        <select required id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                            <option selected value="cinema">Cinema</option>
                            <option value="tvShow">TV Shows</option>
                        </select>
                    </div>
                    <div class="mt-9 w-full max-w-2xl">
                        <div class="post-textarea"></div>
                        <textarea style="display: none" id="post-content" name="postContent"></textarea>
                    </div>
                    <div class="container mx-0 min-w-full flex flex-col items-center mt-20">
                        <button type="submit" class="w-1/3 min-w-[200px] bg-emerald-700 text-white hover:bg-emerald-900 font-bold py-2 px-4 mt-3 rounded">Submit post</button>
                    </div>
                </form>
            </div>
        </main>
        <script>
            var quill = new Quill('.post-textarea', {
                placeholder: 'Write your post...',
                theme: 'snow',
                modules: {
                    toolbar: [
                        [{ 'header': [1, 2, 3, false] }],
                        ['bold', 'italic', 'underline', 'strike', 'link'],
                        [{ 'video': true }, {'image': true}]
                    ]
                },
            });
        
            quill.on('text-change', function(delta, oldDelta, source) {
                document.getElementById("post-content").value = quill.container.firstChild.innerHTML;
            });

            quill.getModule("toolbar").addHandler("video", videoHandler);
            quill.getModule("toolbar").addHandler("image", imageHandler);

            function imageHandler() {
                var range = this.quill.getSelection();
                var value = prompt('please copy paste the image url here.');
                if(value){
                    this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
                }
            }

            function videoHandler() {
                let url = prompt("Enter Video URL: ");
                url = getVideoUrl(url);
                let range = quill.getSelection();
                if (url != null) {
                    quill.insertEmbed(range, 'video', url);
                }
            }

            function getVideoUrl(url) {
                let match = url.match(/^(?:(https?):\/\/)?(?:(?:www|m)\.)?youtube\.com\/watch.*v=([a-zA-Z0-9_-]+)/) ||
                    url.match(/^(?:(https?):\/\/)?(?:(?:www|m)\.)?youtu\.be\/([a-zA-Z0-9_-]+)/) ||
                    url.match(/^.*(youtu.be\/|v\/|e\/|u\/\w+\/|embed\/|v=)([^#\&\?]*).*/);
                if (match && match[2].length === 11) {
                    return ('https') + '://www.youtube.com/embed/' + match[2] + '?showinfo=0';
                }
                if (match = url.match(/^(?:(https?):\/\/)?(?:www\.)?vimeo\.com\/(\d+)/)) { // eslint-disable-line no-cond-assign
                    return (match[1] || 'https') + '://player.vimeo.com/video/' + match[2] + '/';
                }
                return null;
            }
        </script>
    </body>
</html>